*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Palanquin', sans-serif;
  overflow: hidden;
}
.frontPage{
  height: 100vh;
  background-color: #070707;
  background-image: url('../images/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay{
  height: 100%;
  background-color: rgba(7, 7, 7, 0.51)
}